!!!
%html
  %head
    %meta{charset: "utf-8"}
    %title
      ChatSpace
    %link{rel: "stylesheet", href: "application.scss"}
  %body
    .wrapper
      .chat-side
        .side-header
          .side-header__box
            %p.side-header__box__username
              = current_user.name
            %ul.side-header__box__option
              %li.side-header__box__option__newgroup
                = link_to new_group_path do
                  = fa_icon "edit", class: "edit-icon"
              %li.side-header__box__option__edit
                = link_to edit_user_path(current_user) do
                  = fa_icon "cog", class: "cog-icon"
        .side-main
          - current_user.groups.each do |group|
            .group
              = link_to group_messages_path(group) do
                .group__name
                  = group.name
                .group__last-message
                  = group.show_last_message
